---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photoset_id=72157649827363868&method=flickr.photosets.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<FLICKR_API_KEY>",
        oauth_nonce="fr5cJnmc6z%2Bi58gKI7POebKJjWYHzgSij3fe4nI7zQs%3D", oauth_signature="<FLICKR_SECRET>%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1425577960", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photoset":{"id":"72157649827363868","primary":"16252009191","owner":"73135567@N00","ownername":"pikesley","photo":[{"id":"16252009191","secret":"ea2d06e6bb","server":"7506","farm":8,"title":"First
        planting of the year","isprimary":"1","ispublic":1,"isfriend":0,"isfamily":0},{"id":"16308144622","secret":"4822b81b0e","server":"7480","farm":8,"title":"Seedlings","isprimary":"0","ispublic":1,"isfriend":0,"isfamily":0},{"id":"16202827068","secret":"ee50e0cb1c","server":"7357","farm":8,"title":"Tomato
        farm","isprimary":"0","ispublic":1,"isfriend":0,"isfamily":0},{"id":"16388723891","secret":"10a4a8e745","server":"7382","farm":8,"title":"Cucamelon","isprimary":"0","ispublic":1,"isfriend":0,"isfamily":0},{"id":"16308619689","secret":"41143c6dbb","server":"7327","farm":8,"title":"Potato
        kit","isprimary":"0","ispublic":1,"isfriend":0,"isfamily":0},{"id":"16367228619","secret":"3af2aba147","server":"8660","farm":9,"title":"Embothrium
        seedling","isprimary":"0","ispublic":1,"isfriend":0,"isfamily":0}],"page":1,"per_page":500,"perpage":500,"pages":1,"total":"6","title":"Garden
        2015"},"stat":"ok"}'
  recorded_at: Thu, 05 Mar 2015 17:52:40 GMT
recorded_with: VCR 2.9.3
