---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/resolve?client_id=<SOUNDCLOUD_CLIENT_ID>&format=json&url=https://soundcloud.com/rawfunkmaharishi/old-cotswold-legbar-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.soundcloud.com/tracks/191432275.json?client_id=<SOUNDCLOUD_CLIENT_ID>
    body:
      encoding: UTF-8
      string: '{"status":"302 - Found","location":"https://api.soundcloud.com/tracks/191432275.json?client_id=<SOUNDCLOUD_CLIENT_ID>"}'
  recorded_at: Wed, 25 Mar 2015 09:53:08 GMT
- request:
    method: get
    uri: https://api.soundcloud.com/tracks/191432275.json?client_id=<SOUNDCLOUD_CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7580dc1d959dff9290ec656359500d11"'
    body:
      encoding: UTF-8
      string: '{"kind":"track","id":191432275,"created_at":"2015/02/16 16:21:41 +0000","user_id":56479293,"duration":242569,"commentable":true,"state":"finished","original_content_size":9754086,"last_modified":"2015/03/03
        20:38:41 +0000","sharing":"public","tag_list":"","permalink":"old-cotswold-legbar-1","streamable":true,"embeddable_by":"all","downloadable":true,"purchase_url":null,"label_id":null,"purchase_title":null,"genre":"Funk","title":"Old
        Cotswold Legbar","description":"Rogue Studios","label_name":null,"release":null,"track_type":null,"key_signature":null,"isrc":null,"video_url":null,"bpm":null,"release_year":2015,"release_month":2,"release_day":11,"original_format":"mp3","license":"cc-by-nc-sa","uri":"https://api.soundcloud.com/tracks/191432275","user":{"id":56479293,"kind":"user","permalink":"rawfunkmaharishi","username":"Raw
        Funk Maharishi","last_modified":"2015/03/23 09:26:53 +0000","uri":"https://api.soundcloud.com/users/56479293","permalink_url":"http://soundcloud.com/rawfunkmaharishi","avatar_url":"https://i1.sndcdn.com/avatars-000110957821-ac80gy-large.jpg"},"permalink_url":"http://soundcloud.com/rawfunkmaharishi/old-cotswold-legbar-1","artwork_url":null,"waveform_url":"https://w1.sndcdn.com/3Wk3SzqzGceh_m.png","stream_url":"https://api.soundcloud.com/tracks/191432275/stream","download_url":"https://api.soundcloud.com/tracks/191432275/download","playback_count":45,"download_count":1,"favoritings_count":0,"comment_count":0,"attachments_uri":"https://api.soundcloud.com/tracks/191432275/attachments","policy":"ALLOW"}'
  recorded_at: Wed, 25 Mar 2015 09:53:09 GMT
- request:
    method: get
    uri: http://api.soundcloud.com/resolve?client_id=<SOUNDCLOUD_CLIENT_ID>&format=json&url=https://soundcloud.com/rawfunkmaharishi/not-bernard
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.soundcloud.com/tracks/190803089.json?client_id=<SOUNDCLOUD_CLIENT_ID>
    body:
      encoding: UTF-8
      string: '{"status":"302 - Found","location":"https://api.soundcloud.com/tracks/190803089.json?client_id=<SOUNDCLOUD_CLIENT_ID>"}'
  recorded_at: Wed, 25 Mar 2015 09:53:09 GMT
[...]
- request:
    method: get
    uri: http://api.soundcloud.com/resolve?client_id=<SOUNDCLOUD_CLIENT_ID>&format=json&url=https://soundcloud.com/rawfunkmaharishi/safety-on-board
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.soundcloud.com/tracks/174628735.json?client_id=<SOUNDCLOUD_CLIENT_ID>
    body:
      encoding: UTF-8
      string: '{"status":"302 - Found","location":"https://api.soundcloud.com/tracks/174628735.json?client_id=<SOUNDCLOUD_CLIENT_ID>"}'
  recorded_at: Wed, 25 Mar 2015 09:53:09 GMT
[...]
- request:
    method: get
    uri: http://api.soundcloud.com/resolve?client_id=<SOUNDCLOUD_CLIENT_ID>&format=json&url=https://soundcloud.com/rawfunkmaharishi/funk-taxi-berlin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.soundcloud.com/tracks/174065916.json?client_id=<SOUNDCLOUD_CLIENT_ID>
    body:
      encoding: UTF-8
      string: '{"status":"302 - Found","location":"https://api.soundcloud.com/tracks/174065916.json?client_id=<SOUNDCLOUD_CLIENT_ID>"}'
  recorded_at: Wed, 25 Mar 2015 09:53:09 GMT
[...]
