---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/albums/3296736/videos/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <VIMEO_BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
    body:
      encoding: UTF-8
      string: '{"total":3,"page":1,"per_page":25,"paging":{"next":null,"previous":null,"first":"/albums/3296736/videos/?page=1","last":"/albums/3296736/videos/?page=1"},"data":[{"uri":"/videos/111356018","name":"Safety
        On Board","description":null,"link":"https://vimeo.com/rawfunkmaharishi/safetyonboard","duration":186,"width":1280,"language":"en-GB","height":720,"created_time":"2014-11-09T20:14:25+00:00","modified_time":"2015-03-23T22:09:01+00:00","content_rating":["safe"],"license":"by-nc-sa","privacy":{"view":"anybody","embed":"public","download":true,"add":true,"comments":"anybody"},"pictures":{"uri":"/videos/111356018/pictures/496005415","active":true,"sizes":[{"width":100,"height":75,"link":"https://i.vimeocdn.com/video/496005415_100x75.jpg"},{"width":200,"height":150,"link":"https://i.vimeocdn.com/video/496005415_200x150.jpg"},{"width":295,"height":166,"link":"https://i.vimeocdn.com/video/496005415_295x166.jpg"},{"width":640,"height":360,"link":"https://i.vimeocdn.com/video/496005415_640x360.jpg"},{"width":960,"height":540,"link":"https://i.vimeocdn.com/video/496005415_960x540.jpg"},{"width":1280,"height":720,"link":"https://i.vimeocdn.com/video/496005415_1280x720.jpg"}]},"tags":[{"uri":"/tags/musicsnakerawfunkmaharishi","name":"music
        snake rawfunkmaharishi","tag":"music snake rawfunkmaharishi","canonical":"musicsnakerawfunkmaharishi","metadata":{"connections":{"videos":{"uri":"/tags/musicsnakerawfunkmaharishi/videos","options":["GET"],"total":1}}}}],"stats":{"plays":33},"metadata":{"connections":{"comments":{"uri":"/videos/111356018/comments","options":["GET","POST"],"total":0},"credits":{"uri":"/videos/111356018/credits","options":["GET","POST"],"total":1},"likes":{"uri":"/videos/111356018/likes","options":["GET"],"total":0},"pictures":{"uri":"/videos/111356018/pictures","options":["GET","POST"],"total":4},"texttracks":{"uri":"/videos/111356018/texttracks","options":["GET","POST"],"total":0}},"interactions":{"watchlater":{"added":false,"added_time":null,"uri":"/users/33772623/watchlater/111356018"}}},"user":{"uri":"/users/33772623","name":"Raw
        Funk Maharishi","link":"https://vimeo.com/rawfunkmaharishi","location":null,"bio":null,"created_time":"2014-10-27T12:06:25+00:00","account":"basic","pictures":{"uri":"/users/33772623/pictures/8588995","active":true,"sizes":[{"width":30,"height":30,"link":"https://i.vimeocdn.com/portrait/8588995_30x30.jpg"},{"width":75,"height":75,"link":"https://i.vimeocdn.com/portrait/8588995_75x75.jpg"},{"width":100,"height":100,"link":"https://i.vimeocdn.com/portrait/8588995_100x100.jpg"},{"width":300,"height":300,"link":"https://i.vimeocdn.com/portrait/8588995_300x300.jpg"}]},"websites":[{"name":"http://rawfunkmaharishi.uk/","link":"http://rawfunkmaharishi.uk/","description":null}],"metadata":{"connections":{"activities":{"uri":"/users/33772623/activities","options":["GET"]},"albums":{"uri":"/users/33772623/albums","options":["GET"],"total":1},"channels":{"uri":"/users/33772623/channels","options":["GET"],"total":0},"feed":{"uri":"/users/33772623/feed","options":["GET"]},"followers":{"uri":"/users/33772623/followers","options":["GET"],"total":0},"following":{"uri":"/users/33772623/following","options":["GET"],"total":0},"groups":{"uri":"/users/33772623/groups","options":["GET"],"total":0},"likes":{"uri":"/users/33772623/likes","options":["GET"],"total":0},"portfolios":{"uri":"/users/33772623/portfolios","options":["GET"],"total":0},"videos":{"uri":"/users/33772623/videos","options":["GET"],"total":4},"watchlater":{"uri":"/users/33772623/watchlater","options":["GET"],"total":0},"shared":{"uri":"/users/33772623/shared/videos","options":["GET"],"total":0},"pictures":{"uri":"/users/33772623/pictures","options":["GET","POST"],"total":1}}},"content_filter":["language","drugs","violence","nudity","safe","unrated"]},"embed":{"uri":null,"buttons":{"like":true,"watchlater":true,"share":true,"embed":true,"hd":false,"fullscreen":true,"scaling":true},"logos":{"vimeo":true,"custom":{"active":false,"link":null,"sticky":false}},"title":{"name":"user","owner":"user","portrait":"user"},"playbar":true,"volume":true,"color":"00adef"},"app":null,"status":"available","embed_presets":null},{"uri":"/videos/110133117","name":"Trapped
        In Hawaii","description":null,"link":"https://vimeo.com/rawfunkmaharishi/trappedinhawaii","duration":227,"width":1280,"language":null,"height":720,"created_time":"2014-10-27T12:17:08+00:00","modified_time":"2015-03-23T22:09:01+00:00","content_rating":["unrated"],"license":"by-nc-sa","privacy":{"view":"anybody","embed":"public","download":true,"add":true,"comments":"anybody"},"pictures":{"uri":"/videos/110133117/pictures/494272000","active"[...]
- request:
    method: get
    uri: https://api.vimeo.com/videos/111356018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <VIMEO_BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
    body:
      encoding: UTF-8
      string: '{"uri":"/videos/111356018","name":"Safety On Board","description":null,"link":"https://vimeo.com/rawfunkmaharishi/safetyonbo[...]
[...]
