---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photoset_id=72157649827363868&method=flickr.photosets.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<FLICKR_API_KEY>",
        oauth_nonce="eHF3hq48NnhFu6040X95mowxzB%2FdRZMDtHT9HeJOTMk%3D", oauth_signature="<FLICKR_SECRET>%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1427804919", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photoset":{"id":"72157649827363868","primary":"16252009191","owner":"73135567@N00","ownername":"pikesley","photo":[{"id":"16252009191","secret":"ea2d06e6bb","server":"7506","farm":8,"title":"First
        planting of the year","isprimary":"1","ispublic":1,"isfriend":0,"isfamily":0},{"id":"16308144622","secret":"4822b81b0e","server":"7480","farm":8,"title":"Seedlings","isprimary":"0","ispublic":1,"isfriend":0,"isfamily":0},{"id":"16202827068","secret":"ee50e0cb1c","server":"7357","farm":8,"title":"Tomato
        farm","isprimary":"0","ispublic":1,"isfriend":0,"isfamily":0},{"id":"16388723891","secret":"10a4a8e745","server":"7382","farm":8,"title":"Cucamelon","isprimary":"0","ispublic":1,"isfriend":0,"isfamily":0},{"id":"16308619689","secret":"41143c6dbb","server":"7327",[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=16252009191&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<FLICKR_API_KEY>",
        oauth_nonce="UeQH4JPMRTpq%2Fn4Igns%2FWKMwseEPkmHEIk6exr51DeA%3D", oauth_signature="<FLICKR_SECRET>%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1427804920", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"16252009191","secret":"ea2d06e6bb","server":"7506","farm":8,"dateuploaded":"1420982656","isfavorite":0,"license":"1","safety_level":"0","rotation":0,"originalsecret":"dd0b6e4274","originalformat":"jpg","owner":{"nsid":"73135567@N00","username":"pikesley","realname":"Sam","location":"London","iconserver":"5072","iconfarm":6,"path_alias":"pikesley"},"title":{"_content":"First
        planting of the year"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1420982656","taken":"2015-01-11
        14:22:47","takengranularity":"0","takenunknown":"0","lastupdate":"1420982715"},"views":"169","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/pikesley\/16252009191\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Tue, 31 Mar 2015 12:28:40 GMT
[...]
