---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/resolve?client_id=<SOUNDCLOUD_CLIENT_ID>&format=json&url=https://soundcloud.com/rawfunkmaharishi/bernard
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.soundcloud.com/tracks/192841052.json?client_id=<SOUNDCLOUD_CLIENT_ID>
    body:
      encoding: UTF-8
      string: '{"status":"302 - Found","location":"https://api.soundcloud.com/tracks/192841052.json?client_id=<SOUNDCLOUD_CLIENT_ID>"}'
  recorded_at: Tue, 10 Mar 2015 14:15:03 GMT
- request:
    method: get
    uri: https://api.soundcloud.com/tracks/192841052.json?client_id=<SOUNDCLOUD_CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ee10c2209de092280b0e738fbf6099f5"'
    body:
      encoding: UTF-8
      string: '{"kind":"track","id":192841052,"created_at":"2015/02/24 20:44:18 +0000","user_id":56479293,"duration":173860,"commentable":true,"state":"finished","original_content_size":7006006,"last_modified":"2015/03/03
        20:31:37 +0000","sharing":"public","tag_list":"\"islington academy sessions\"","permalink":"bernard","streamable":true,"embeddable_by":"all","downloadable":true,"purchase_url":null,"label_id":null,"purchase_title":null,"genre":"Funk","title":"Bernard","description":"Islington
        Academy","label_name":null,"release":null,"track_type":null,"key_signature":null,"isrc":null,"video_url":null,"bpm":null,"release_year":2015,"release_month":2,"release_day":18,"original_format":"mp3","license":"cc-by-nc-sa","uri":"https://api.soundcloud.com/tracks/192841052","user":{"id":56479293,"kind":"user","permalink":"rawfunkmaharishi","username":"Raw
        Funk Maharishi","last_modified":"2015/02/27 15:07:28 +0000","uri":"https://api.soundcloud.com/users/56479293","permalink_url":"http://soundcloud.com/rawfunkmaharishi","avatar_url":"https://i1.sndcdn.com/avatars-000110957821-ac80gy-large.jpg"},"permalink_url":"http://soundcloud.com/rawfunkmaharishi/bernard","artwork_url":null,"waveform_url":"https://w1.sndcdn.com/BAgEnzWuGhV7_m.png","stream_url":"https://api.soundcloud.com/tracks/192841052/stream","download_url":"https://api.soundcloud.com/tracks/192841052/download","playback_count":52,"download_count":1,"favoritings_count":0,"comment_count":0,"attachments_uri":"https://api.soundcloud.com/tracks/192841052/attachments","policy":"ALLOW"}'
  recorded_at: Tue, 10 Mar 2015 14:15:03 GMT
recorded_with: VCR 2.9.3
