---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/resolve?client_id=<SOUNDCLOUD_CLIENT_ID>&format=json&url=https://soundcloud.com/rawfunkmaharishi/sets/islington-academy-sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.soundcloud.com/playlists/88097435.json?client_id=<SOUNDCLOUD_CLIENT_ID>
    body:
      encoding: UTF-8
      string: '{"status":"302 - Found","location":"https://api.soundcloud.com/playlists/88097435.json?client_id=<SOUNDCLOUD_CLIENT_ID>"}'
  recorded_at: Wed, 11 Mar 2015 17:13:21 GMT
- request:
    method: get
    uri: https://api.soundcloud.com/playlists/88097435.json?client_id=<SOUNDCLOUD_CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f82ccf5d9c458161099ece123c45d312"'
    body:
      encoding: UTF-8
      string: '{"duration":770628,"release_day":null,"permalink_url":"http://soundcloud.com/rawfunkmaharishi/sets/islington-academy-sessions","genre":"","permalink":"islington-academy-sessions","purchase_url":null,"release_month":null,"description":"","uri":"https://api.soundcloud.com/playlists/88097435","label_name":"","tag_list":"","release_year":null,"track_count":4,"user_id":56479293,"last_modified":"2015/03/10
        16:35:06 +0000","license":"all-rights-reserved","tracks":[{"kind":"track","id":193008299,"created_at":"2015/02/25
        19:24:51 +0000","user_id":56479293,"duration":209626,"commentable":true,"state":"finished","original_content_size":8436471,"last_modified":"2015/02/27
        17:08:45 +0000","sharing":"public","tag_list":"\"islington academy sessions\"","permalink":"hexaflexagon-1","streamable":true,"embeddable_by":"all","downloadable":true,"purchase_url":null,"label_id":null,"purchase_title":null,"genre":"funk","title":"Hexaflexagon","description":"Islington
        Academy","label_name":null,"release":null,"track_type":null,"key_signature":null,"isrc":null,"video_url":null,"bpm":null,"release_year":2015,"release_month":2,"release_day":18,"original_format":"mp3","license":"cc-by-nc-sa","uri":"https://api.soundcloud.com/tracks/193008299","user":{"id":56479293,"kind":"user","permalink":"rawfunkmaharishi","username":"Raw
        Funk Maharishi","last_modified":"2015/02/27 15:07:28 +0000","uri":"https://api.soundcloud.com/users/56479293","permalink_url":"http://soundcloud.com/rawfunkmaharishi","avatar_url":"https://i1.sndcdn.com/avatars-000110957821-ac80gy-large.jpg"},"permalink_url":"http://soundcloud.com/rawfunkmaharishi/hexaflexagon-1","artwork_url":null,"waveform_url":"https://w1.sndcdn.com/CxyZz6RUbqZN_m.png","stream_url":"https://api.soundcloud.com/tracks/193008299/stream","download_url":"https://api.soundcloud.com/tracks/193008299/download","playback_count":45,"download_count":3,"favoritings_count":0,"comment_count":0,"attachments_uri":"https://api.soundcloud.com/tracks/193008299/attachments","policy":"ALLOW"},{"kind":"track","id":193006525,"created_at":"2015/02/25
        19:13:37 +0000","user_id":56479293,"duration":190031,"commentable":true,"state":"finished","original_content_size":7652798,"last_modified":"2015/03/03
        20:07:21 +0000","sharing":"public","tag_list":"afrobeat \"islington academy
        sessions\"","permalink":"beer-of-course-but-why","streamable":true,"embeddable_by":"all","downloadable":true,"purchase_url":null,"label_id":null,"purchase_title":null,"genre":"Funk","t[...]
- request:
    method: get
    uri: http://api.soundcloud.com/resolve?client_id=<SOUNDCLOUD_CLIENT_ID>&format=json&url=http://soundcloud.com/rawfunkmaharishi/hexaflexagon-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.soundcloud.com/tracks/193008299.json?client_id=<SOUNDCLOUD_CLIENT_ID>
    body:
      encoding: UTF-8
      string: '{"status":"302 - Found","location":"https://api.soundcloud.com/tracks/193008299.json?client_id=<SOUNDCLOUD_CLIENT_ID>"}'
  recorded_at: Wed, 11 Mar 2015 17:13:21 GMT
- request:
    method: get
    uri: https://api.soundcloud.com/tracks/193008299.json?client_id=<SOUNDCLOUD_CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f53037e9d5ac7875cf1290e71218b857"'
      Last-Modified:
      - Wed, 11 Mar 2015 17:13:05 GMT
    body:
      encoding: UTF-8
      string: '{"kind":"track","id":193008299,"created_at":"2015/02/25 19:24:51 +0000","user_id":56479293,"duration":209626,"commentable":true,"state":"finished","original_content_size":8436471,"last_modified":"2015/02/27
        17:08:45 +0000","sharing":"public","tag_list":"\"islington academy sessions\"","permalink":"hexaflexagon-1","streamable":true,"embeddable_by":"all","downloadable":true,"purchase_url":null,"label_id":[...]
- request:
    method: get
    uri: http://api.soundcloud.com/resolve?client_id=<SOUNDCLOUD_CLIENT_ID>&format=json&url=http://soundcloud.com/rawfunkmaharishi/beer-of-course-but-why
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.soundcloud.com/tracks/193006525.json?client_id=<SOUNDCLOUD_CLIENT_ID>
    body:
      encoding: UTF-8
      string: '{"status":"302 - Found","location":"https://api.soundcloud.com/tracks/193006525.json?client_id=<SOUNDCLOUD_CLIENT_ID>"}'
  recorded_at: Wed, 11 Mar 2015 17:13:21 GMT
[...]
- request:
    method: get
    uri: http://api.soundcloud.com/resolve?client_id=<SOUNDCLOUD_CLIENT_ID>&format=json&url=http://soundcloud.com/rawfunkmaharishi/junalbandi-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.soundcloud.com/tracks/193005357.json?client_id=<SOUNDCLOUD_CLIENT_ID>
    body:
      encoding: UTF-8
      string: '{"status":"302 - Found","location":"https://api.soundcloud.com/tracks/193005357.json?client_id=<SOUNDCLOUD_CLIENT_ID>"}'
  recorded_at: Wed, 11 Mar 2015 17:13:21 GMT
[...]
- request:
    method: get
    uri: http://api.soundcloud.com/resolve?client_id=<SOUNDCLOUD_CLIENT_ID>&format=json&url=http://soundcloud.com/rawfunkmaharishi/bernard
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.soundcloud.com/tracks/192841052.json?client_id=<SOUNDCLOUD_CLIENT_ID>
    body:
      encoding: UTF-8
      string: '{"status":"302 - Found","location":"https://api.soundcloud.com/tracks/192841052.json?client_id=<SOUNDCLOUD_CLIENT_ID>"}'
  recorded_at: Wed, 11 Mar 2015 17:13:22 GMT
[...]
